In [29]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [30]:
df = pd.read_csv(r"C:\Users\otaku7\Desktop\ecoded_loan_old.csv")
df

,Income,Coapplicant_Income,Loan_Tenor,Credit_History,Max_Loan_Amount,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,4583,1508.0,144.0,1.0,236.99,0,1,0,1,0,1,0,0,1,0,1,0,0,0
1,3000,0.0,144.0,1.0,81.20,0,1,0,1,1,0,0,0,1,0,0,0,1,1
2,2583,2358.0,144.0,1.0,179.03,0,1,0,1,1,0,0,0,0,1,0,0,1,1
3,6000,0.0,144.0,1.0,232.40,0,1,1,0,1,0,0,0,1,0,0,0,1,1
4,5417,4196.0,144.0,1.0,414.50,0,1,0,1,0,0,1,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,2900,0.0,144.0,1.0,76.16,1,0,1,0,1,0,0,0,1,0,1,0,0,1
509,4106,0.0,72.0,1.0,33.47,0,1,0,1,0,0,0,1,1,0,1,0,0,1
510,8072,240.0,144.0,1.0,348.92,0,1,0,1,0,1,0,0,1,0,0,0,1,1
511,7583,0.0,144.0,1.0,312.18,0,1,0,1,0,0,1,0,1,0,0,0,1,1
512,4583,0.0,144.0,0.0,160.98,1,0,1,0,1,0,0,0,1,0,0,1,0,0

In [31]:
def sigmoid(x):
    return 1/(1+np.exp(-x))

In [32]:
class LogisticRegression():

    def __init__(self, lr=0.001, n_iters=1000):
        self.lr = lr
        self.n_iters = n_iters
        self.weights = None
        self.bias = None

    def fit(self, X, y):
        n_samples, n_features = X.shape
        self.weights = np.zeros(n_features)
        self.bias = 0

        for _ in range(self.n_iters):
            linear_pred = np.dot(X, self.weights) + self.bias
            predictions = sigmoid(linear_pred)

            dw = (1/n_samples) * np.dot(X.T, (predictions - y))
            db = (1/n_samples) * np.sum(predictions-y)

            self.weights = self.weights - self.lr*dw
            self.bias = self.bias - self.lr*db


    def predict(self, X):
        linear_pred = np.dot(X, self.weights) + self.bias
        y_pred = sigmoid(linear_pred)
        class_pred = [0 if y<=0.5 else 1 for y in y_pred]
        return class_pred

In [33]:
X = df.drop(['Loan_Status_Y','Max_Loan_Amount'] , axis =1 )
y=df['Loan_Status_Y']

In [34]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size= 0.20,random_state=35)

In [35]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [36]:
clf = LogisticRegression(lr=0.01)

In [37]:
clf.fit(X_train_scaled, y_train)
y_pred = clf.predict(X_test_scaled)

In [39]:
def accuracy(y_pred, y_test):
    return np.sum(y_pred==y_test)/len(y_test)

In [40]:
acc = accuracy(y_pred, y_test)
print(acc)

0.7766990291262136

In [41]:
new_loan=pd.read_csv(r"C:\Users\otaku7\Desktop\ecoded_loan_new.csv")
new_loan_processed = scaler.transform(new_loan)  # Assuming you used the StandardScaler

# Make predictions using the trained model
new_predictions = clf.predict(new_loan_processed)

# Display the predictions
print(new_predictions)

[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1]